@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");html,
body {
	margin: 0;
	padding: 0;
	background-color: #000a14;
	color:aliceblue;
	font-family: Roboto, sans-serif;
}.container {
	border-radius: 5px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}.container h1 {
	margin: 75px 0px 40px 0px;
}.blocks {
	width: 50%;
	font-size: 14px;
}.form {
	border-radius: 5px;
	background-color: rgb(85, 85, 85);;
	padding: 15px;
	margin: 3px;
} 
input[type="textbox"] {
	border: none;
	color: white;
	width: 90%;
	/* height: 5px; */
	border-radius: 5px;
	background-color: rgb(33, 33, 33);
	-webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield; 
	padding:15px;
}
.regular-checkbox {
    position: absolute;
    clip: rect(0 0 0 0);
	
}
#inputPreview {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.regular-checkbox + label {
    position: relative;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 34px;
    color: rgb(255, 255, 255);
}
.regular-checkbox + label::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    width: 32px;
    height: 32px;
    background-color: rgb(199, 199, 199);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 32px;
    box-shadow: rgba(42, 42, 42, 0.5) 0 0 5px 0;
}
.regular-checkbox:checked + label::after {
    content: " ";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMWE5ZTAwIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    left: 0;
    top: 0;
    text-align: center;
    background-color: transparent;
    font-size: 10px;
    height: 34px;
    width: 34px;
}
input[type="number"] {
	border: none;
	color: white;
	width: 90%;
	/* height: 5px; */
	border-radius: 5px;
	background-color: rgb(33, 33, 33);
	-webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield; 
	padding:15px;
} 

input[type="checkbox"] {
	padding: 15px;
	margin: 3px;
	scale: 150%;
	border: 0.1rem solid rgb(0, 0, 0);
	flex-direction: row;
	align-items: center;
	
}
input:invalid {
	border: 1px dashed red;
}
/* input[type=number]::-webkit-inner-spin-button {
   -webkit-appearance: none;
} */

div.strength {
	border-radius: 5px;
	background-color: rgb(85, 85, 85);;
	padding: 15px;
	margin: 3px;
}
.form label {
	margin-left: 10px;
}.btn-primary {
	background-color: #2fed6e;
	border: 0;
	box-shadow: none;	padding: 7px 35px;
	font-size: 18px;
	color: rgb(255, 255, 255);
	border-radius: 5px;
	margin: 20px 0px;
}.btn-primary:hover {
	cursor: pointer;
}.generate-form {
	background-color: rgb(85, 85, 85);;
	padding: 15px;
	margin: 10px;
	margin-top: 30px;
	width: 70%;
	text-align: center;
	border-radius: 5px;
}.uppercase {
	border-radius: 5px;
	text-transform: uppercase;
	color: grey;
	font-size: 12px;
}.flex-row {
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}.password {
	min-height: 10%;
	border-radius: 5px;
	word-wrap: break-word;
    word-break: break-all;
	margin: 25px 0px;
	font-size: 24px;
	font-weight: bolder;
	letter-spacing: 2.5px;
}
#copy {
	color:rgb(255, 255, 255);
	font-weight:bolder;
	/* text-decoration: underline solid crimson 1px; */
	user-select: none;
}#copy:hover {
	cursor: pointer;
	color:rgb(255, 255, 255);
	font-weight:bolder;
	/* text-decoration: underline solid rgb(173, 11, 43) 1px; */
}@media screen and (max-width: 1280px) {
	.container {
		width: 75%;
	}
}@media screen and (max-width: 768px) {
	.blocks {
		width: 100%;
	}	.generate-form {
		width: 100%;
	}
}